body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#calculator{
    height: 80%;
    width: 80%;
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}
.screenclass{
    height: 150px;
    width: 90%;
    border: none;
    background-color: rgb(209, 209, 210);
    margin-top: 20px;
    font-size: 100px;
}
.controlclass{
    height: 70%;
    width: 90%;
    border: none;
    background-color: rgb(209, 209, 210);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;   
}
.row button{
    height: 80px;
    width: 80px;
    font-size: 20px;
    border: none;
    transition: .3s;
}
.row button:hover{
    transform: scale(1.05);
    border-radius: 12px;
}
.row button:focus{
    border: 3px solid black;
}